.hero {
    height: 100vh;
    background: linear-gradient(225deg, #335d79 0, #3a5b7a 7.14%, #415a7b 14.29%, #49587a 21.43%, #4f5779 28.57%, #565578 35.71%, #5c5476 42.86%, #625273 50%, #675070 57.14%, #6c4f6c 64.29%, #704e68 71.43%, #734d64 78.57%, #764c60 85.71%, #784c5b 92.86%, #7a4b57 100%);
    display: flex;
}

.hreo-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}